[env]
NATS_NAMESPACE = "nats"
NATS_VERSION = "2.11.3-alpine"
NACK_VERSION = "0.17.2"
NATS_RELOADER_VERSION = "0.17.2"
NATS_BOX_VERSION = "0.17.0"

[tools]
go = "1.24.5"
ginkgo = "2.27.2"
adr-tools = "latest"
nsc = "latest"
helm = "latest"
kind = "latest"
helm-docs = "latest"
golangci-lint = "latest"
"ubi:elastic/crd-ref-docs" = "latest"
"go:github.com/nats-io/natscli/nats" = "latest"
kubectl-kuttl = "latest"

[settings]
experimental = true

[tasks.go-test-ginkgo]
description = "Run Ginkgo tests"
dir = "{{ cwd }}"
alias = "gtg"
run = "ginkgo run"

[tasks.go-test-ginkgo-all]
description = "Run all Ginkgo tests in project"
alias = "gtga"
run = "ginkgo run -r"

[tasks."nauth:e2e-test"]
silent = true
description = "Run end-to-end tests (usage: mise run nauth:e2e-test [test-name])"
run = """
#!/usr/bin/env bash
if [ -n "${1:-}" ]; then
  kubectl kuttl test --test "$1"
else
  kubectl kuttl test
fi
"""

[tasks."nauth:kuttle-k9s"]
silent = true
alias = "kk9s"
description = "Run K9s in the test environment (kind)"
run = "KUBECONFIG=kubeconfig k9s"
