[env]
NATS_NAMESPACE = "nats"
NATS_VERSION = "2.11.3-alpine"
NACK_VERSION = "0.17.2"
NATS_RELOADER_VERSION = "0.17.2"
NATS_BOX_VERSION = "0.17.0"

[tools]
go = "1.24.5"
ginkgo = "2.27.2"
adr-tools = "latest"
nsc = "latest"
helm = "latest"
kind = "latest"
helm-docs = "latest"
golangci-lint = "latest"
"ubi:elastic/crd-ref-docs" = "latest"
"go:github.com/nats-io/natscli/nats" = "latest"
kubectl-kuttl = "latest"
jq = "latest"

[settings]
experimental = true

[tasks.go-test]
description = "Run go tests"
dir = "{{ cwd }}"
alias = "gt"
run = "go test ./..."

[tasks."nauth:bdd-test"]
description = "Run Godog BDD tests"
dir = "{{ cwd }}"
run = "go test ./test/bdd"

[tasks."nauth:e2e-test"]
silent = true
description = "Run end-to-end tests"
run = "kubectl kuttl test"

[tasks."nauth:kuttle-k9s"]
silent = true
alias = "kk9s"
description = "Run K9s in the test environment (kind)"
run = "KUBECONFIG=kubeconfig k9s"
