[env]
NATS_NAMESPACE = "nats"
NATS_VERSION = "2.11.3-alpine"
NATS_HELM_VERSION = "1.3.3"
NACK_VERSION = "0.17.2"
NACK_HELM_VERSION = "0.28.1"
NATS_RELOADER_VERSION = "0.17.2"
NATS_BOX_VERSION = "0.17.0"

[tools]
go = "1.24.5"
ginkgo = "2.27.2"
adr-tools = "latest"
nsc = "latest"
helm = "latest"
kind = "latest"
helm-docs = "latest"
golangci-lint = "latest"
"ubi:elastic/crd-ref-docs" = "latest"
"go:github.com/nats-io/natscli/nats" = "latest"
kubectl-kuttl = "latest"

[settings]
experimental = true

[tasks.go-test-ginkgo]
description = "Run Ginkgo tests"
dir = "{{ cwd }}"
alias = "gtg"
run = "ginkgo run"

[tasks.go-test-ginkgo-all]
description = "Run all Ginkgo tests in project"
alias = "gtga"
run = "ginkgo run -r"

[tasks.e2e-test]
description = "Run end-to-end tests"
run = "kubectl kuttl test --artifacts-dir kind-logs/ --start-kind=true"
