{{- range $path, $bytes := .Files.Glob "resources/crds/*.yaml" }}
  {{- $manifest := $.Files.Get $path | fromYaml }}
  {{- if not $.Values.crds.install }}
    {{- if lookup $manifest.apiVersion $manifest.kind "" $manifest.metadata.name }}
      {{- continue }}
    {{- end }}
  {{- end }}
  {{- if $.Values.crds.keep }}
    {{- $newAnnotations := dict "helm.sh/resource-policy" "keep" | merge $manifest.metadata.annotations }}
    {{- $_ := set $manifest.metadata "annotations" $newAnnotations }}
  {{- end }}

{{ $manifest | toYaml  }}
---
{{- end }}
