{{- if .Values.monitoring.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nauth.fullname" . }}-metrics-service
  labels:
    service: nauth-metrics-service
    {{- include "nauth.labels" . | nindent 4 }}
spec:
  ports:
    - name: http-metrics
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    control-plane: controller-manager
    app.kubernetes.io/name: {{ include "nauth.name" . }}
{{- end }}
